<form action="/Phong/PhongCreate" method="post">
    <div class="form-group">
        <label for="loaiphong">loaiphong</label>
        <input type="text" id="loaiphong" name="loaiphong" class="form-control" />
    </div>
    <div class="form-group">
        <label for="giaphong">giaphong</label>
        <input type="text" id="giaphong" name="giaphong" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>